*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(237 242 247);
}

/* common */




/* /common */

/* header */
.logo{
    display: block;
    margin: auto;
    padding-top: 30px;
}
