* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* common */


/* /common */

/* header */

header {
    background-color: #edf2f7;
}

.logo {
    display: block;
    margin: 0 auto;
}

/* /header */

/* main */

/* upper menu */

.text-menu {
    text-align: center;
    line-height: 90px;
    background-color: #edf2f7;
    width: 700px;
    margin: 50px auto 2px;
    height: 90px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.text-bar {
    line-height: 35px;
    padding-right: 100px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.add-task {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #14aaf5;
    color: white;
}

/* /upper menu */

/* list menu */

.list-menu {
    width: 700px;
    height: 700px;
    background-color: #edf2f7;
    margin: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.list-container {
    width: 600px;
    height: 650px;
    margin: auto;
    padding-top: 20px;
    background-color: #edf2f7;
}

.list {
    list-style: none;
}

.bigger-text {
    font-size: 25px;
    font-weight: 600;
    color: #434851;
    margin-top: 25px;
}

.text {
    text-decoration: line-through;
    margin: 10px;
    border-radius: 5px;
}

.status {
    text-decoration: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
    font-size: 10px;
}

.check {
    border: 1px solid #39cab0;
    color: #39cab0;
}

.cross {
    border: 1px solid red;
    color: red;
}

.list-item {
    font-size: 15px;
    font-weight: 100;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
}

/* /list-menu */

/* /main */