* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* common */


/* /common */

/* header */

header {
    background-color: #edf2f7;
}

.logo {
    display: block;
    margin: 0 auto;
}

/* /header */

/* main */

.text-menu {
    text-align: center;
    line-height: 90px;
    background-color: #edf2f7;
    width: 700px;
    margin: 50px auto;
    height: 90px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.text-bar {
    line-height: 35px;
    padding-right: 100px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.add-task {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #14aaf5;
    color: white;
}